<div class="container" ng-controller="cardController as vm">
    <h3 align="center">List of cards:</h3>
    <table class="table table-bordered" align="center">
        <thead>
        <tr>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Vin</th>
            <th></th>
        </tr>
        <tr>
            <th><input type="text" name="make" ng-model="vm.car.make"></th>
            <th><input type="text" name="model" ng-model="vm.car.model"></th>
            <th><input type="date" name="year" ng-model="vm.car.year"></th>
            <th><input type="text" name="vin" ng-model="vm.car.vin"></th>
            <th>
                <button type="submit" class="btn btn-default" ng-click="vm.add(vm.car)">Add</button>
                <button type="button" class="btn btn-default" ng-click="vm.update(vm.car)">Update</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="card in vm.cards">
            <td>{{card.make}}</td>
            <td>{{card.model}}</td>
            <td>{{card.year}}</td>
            <td>{{card.vin}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="vm.remove(card.id)">Delete</button>
                <button type="button" class="btn btn-default" ng-click="vm.select(card)">Select</button>
                <button type="button" class="btn btn-default" ng-click="vm.getOrder(card.id)">Order</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>