<form class="container" name="myForm" ng-controller="clientController as vm">
    <h3 align="center">List of clients:</h3>

    <label class="error" ng-show="!myForm.$valid">
        Fill the fields!</label>
    <table class="table table-bordered" align="center">
        <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Date</th>
            <th>Address</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        <tr>
            <th><input type="text" name="firstName" ng-model="vm.cl.firstName" ng-pattern="/^[A-Za-z]+$/" class="my-input"
                       aria-describedby="inputDescription" required></th>
            <th><input type="text" name="lastName" ng-model="vm.cl.lastName" ng-pattern="/^[A-Za-z]+$/" class="my-input"
                       aria-describedby="inputDescription" required></th>
            <th><input type="date" name="date" ng-model="vm.cl.date" required></th>
            <th><input type="text" name="address" ng-model="vm.cl.address" ng-pattern="/[A-Za-z0-9'\.\-\s\,]/" class="my-input"
                       aria-describedby="inputDescription" required></th>
            <th><input type="email" name="email" ng-model="vm.cl.email" ng-pattern="/[A-Za-z0-9]+\@\w+\.\w{2,5}/" class="my-input" required>
            </th>
            <th><input type="text" name="phone" ng-model="vm.cl.phone" ng-pattern="/\(?([0-9]{3})\)?([ .-]?)([0-9]{3})\2([0-9]{4})/" class="my-input"
                       aria-describedby="inputDescription" required></th>
            <th>
                <button type="submit" class="btn btn-default" ng-click="vm.add(vm.cl)" ng-disabled="!myForm.$valid">Add</button>
            </th>
            <th>
                <button type="button" class="btn btn-default" ng-click="vm.update(vm.cl)"  ng-disabled="!myForm.$valid">Update</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="client in vm.clients">
            <td>{{client.firstName}}</td>
            <td>{{client.lastName}}</td>
            <td>{{client.date}}</td>
            <td>{{client.address}}</td>
            <td>{{client.email}}</td>
            <td>{{client.phone}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="vm.remove(client.id)">Delete</button>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="vm.select(client)">Select</button>
            </td>
            <td>
                <button type="button" class="btn btn-default" ng-click="vm.getCard(client.id)">Card</button>
            </td>
        </tr>
        </tbody>
    </table>
</form>
