<div class="container" ng-controller="orderController as vm">
    <h3 align="center">List of orders:</h3>
    <table class="table table-bordered" align="center">
        <thead>
        <tr>
            <th>date</th>
            <th>amount</th>
            <th>status</th>
        </tr>
        <tr>
            <th><input type="date" name="date" ng-model="vm.ord.date"></th>
            <th><input type="text" name="amount" ng-model="vm.ord.amount"></th>
            <th><input type="text" name="status" ng-model="vm.ord.status"></th>
            <th>
                <button type="submit" class="btn btn-default" ng-click="vm.add(vm.ord)">Add</button>
                <button type="button" class="btn btn-default" ng-click="vm.update(vm.ord)">Update</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in vm.orders">
            <td>{{order.date}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.status}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="vm.remove(order.id)">Delete</button>
                <button type="button" class="btn btn-default" ng-click="vm.select(order)">Select</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>